<!DOCTYPE html>
<html>
        {% load static %}
<head>
	<!-- Written by Keith McKinley for CS419, Oregon State Universtity, Fall 2016-->
	<!-- Using Django 1.10 and Python 2.7 -->
        <link rel="stylesheet" type="text/css" href="{% static 'limbo/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'limbo/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'limbo/css/limbo.css' %}" />
        <script src="{% static 'limbo/js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'limbo/js/limbo.js' %}" ></script>
</head>
  <body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2"><img style="height:100px;width:auto;" class="top-bar" src="{% static 'limbo/img/limbo-clipart-1.jpg' %}" alt="limbo graphic"/></div>
				<div class="col-md-10">
					<div class="row">
						<div class="container-fluid"><h1>Limbo Lab Management</h1></div>
						
					</div>
					<div class="row">
						<nav class="navbar navbar-default">
							<div class="container-fluid">
								<div class="col-md-2 navbar-header">
									<a class="navbar-brand" href="#">Limbo</a>
								</div>
								<ul class="nav navbar">
									<li onClick='alert("go to useres");'>Users</li>
									<li onClick='alert("go to equipment");'>Equipment</li>
									<li onClick='alert("go to server config");'>Server</li>
								</ul>
								<ul class="nav navbar-nav navbar-right">
									<li onClick='alert("will Log Out");'>User Name</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			{% block content %}
			{% endblock %}
		</div>
		<script src="{% static 'limbo/js/bootstrap.min.js' %}"></script>
	</div>
  </body>
</html>
