<!DOCTYPE html>
<html>
        {% load static %}
<head>
	<!-- Written by Keith McKinley for CS419, Oregon State Universtity, Fall 2016-->
	<!-- Using Django 1.10 and Python 2.7 -->
        <link rel="stylesheet" type="text/css" href="{% static 'limbo/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'limbo/css/bootstrap-theme.min.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'limbo/css/limbo.css' %}" />
        <script src="{% static 'limbo/js/bootstrap.min.js' %}" ></script>
        <script src="{% static 'limbo/js/limbo.js' %}" ></script>
</head>
  <body>
	<div class="navbar navbar-default navbar-fixed-top">
	        <div class=container>
				<table style="width:100%;">
					<col align="left">
					<col align="left">
					<col align="right">
					<tr>
						<td><img style="height:100px;width:auto;" class="top-bar" src="{% static 'limbo/img/limbo-clipart-1.jpg' %}" alt="limbo graphic"/></td>
						<td><div class="jumbotron"><h1>Limbo Lab Management</h1></div></td>
						<td style="align:right;" align="right">User Name</td>
					</tr></table>
					<nav class="navbar navbar-default">
					<div class="container-fluid">
					<div class="navbar-header">
					<ul class="nav navbar-nav">
						<li><a href="Users.html">Users</a></li>
						<li><a href="Equipment.html">Equipment</a></li>
						<li><a href="ServerConfig.html">Server</a></li> 
					</ul>
					</div>
					</div>
					</nav>
	        </div>
	</div>
	<!--div class="navbar navbar-default navbar-fixed-left left-bar">
	        <div id="UsersEdit" class="row"><h4>Users</h4></div>
	        <div id="EquipmentEdit" class="row"><h5>Equipment</h5></div>
	        <div id="ServerEdit" class="row"><h6>Server<br>Configuration</h6></div>
	</div-->

	<div class="container">
	<div class="row">
		{% block content %}
		{% endblock %}
	</div>
		<script src="{% static 'limbo/js/bootstrap.min.js' %}"></script>
	</div>
</body>
</html>
